In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_csv("humidity.csv")
data.head()

   sensor_id     lat     lon  pressure  temperature  humidity
0       2266  42.738  23.272  95270.27        23.46     62.48
1       2292  42.663  23.273  94355.83        23.06     59.46
2       3096  42.700  23.360  95155.81        26.53     44.38
3       3428  42.624  23.406  94679.57        28.34     38.28
4       3472  42.669  23.318  94327.88        26.31     46.37

In [2]:
data.drop(["sensor_id"], axis = 1, inplace = True)

In [5]:
def outlier(data):
    
    for i in range(len(data.columns)):
        x=data.iloc[:,i]
        l1=[]
        p1,p2=np.percentile(x,[25,75])
        l=p1-1.5*(p2-p1)
        u=p2+1.5*(p2-p1)
        for j in x:
            if(j>=u) or (j<=l):
                l1.append(j)
        for j in l1:
            data=data[data[data.columns[i]]!=j]
        return data

In [6]:
a = outlier(data)

In [8]:
a.shape

(669507, 5)

In [9]:
a.to_csv("humidity boxplot outlier.csv")