In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv("humidity.csv")
data.head()

   sensor_id     lat     lon  pressure  temperature  humidity
0       2266  42.738  23.272  95270.27        23.46     62.48
1       2292  42.663  23.273  94355.83        23.06     59.46
2       3096  42.700  23.360  95155.81        26.53     44.38
3       3428  42.624  23.406  94679.57        28.34     38.28
4       3472  42.669  23.318  94327.88        26.31     46.37

In [2]:
data = data.drop(["sensor_id"], axis = 1)

In [3]:
data1= data.iloc[0:500,]
data1.head()

      lat     lon  pressure  temperature  humidity
0  42.738  23.272  95270.27        23.46     62.48
1  42.663  23.273  94355.83        23.06     59.46
2  42.700  23.360  95155.81        26.53     44.38
3  42.624  23.406  94679.57        28.34     38.28
4  42.669  23.318  94327.88        26.31     46.37

In [4]:
x = data.iloc[:,:-1]
x1 = data1.iloc[:,0:1]
x2 = data1.iloc[:,1:2]
x3 = data1.iloc[:,2:3]
x4 = data1.iloc[:,3:4]
y = data.iloc[:,4:5]

In [5]:
x.shape

(701548, 4)

In [6]:
y.shape

(701548, 1)

# lr

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
x.shape

(701548, 4)

In [9]:
y.shape

(701548, 1)

In [10]:
y_pred = model.predict(x)
y_pred

array([[51.62584248],
       [47.58286085],
       [48.89850794],
       ...,
       [48.94241546],
       [49.93802243],
       [48.87155351]])

In [11]:
from sklearn.metrics import mean_squared_error, r2_score
rmse = np.sqrt(mean_squared_error(y, y_pred))
r2score = r2_score(y, y_pred)
print("The model performance of training set:")
print("RMSE is:", rmse)
print("r2_score:", r2score)

The model performance of training set:
RMSE is: 17.525304253424352
r2_score: 0.29735160759874857

# poly

In [12]:
from sklearn.preprocessing import PolynomialFeatures
polynomial_features= PolynomialFeatures(degree=4)
x_poly = polynomial_features.fit_transform(x)
print(x_poly)

[[1.00000000e+00 4.27380000e+01 2.32720000e+01 ... 4.99540619e+12
  1.23010283e+09 3.02908898e+05]
 [1.00000000e+00 4.26630000e+01 2.32730000e+01 ... 4.73430338e+12
  1.15703540e+09 2.82772526e+05]
 [1.00000000e+00 4.27000000e+01 2.33600000e+01 ... 6.37301765e+12
  1.77683484e+09 4.95392013e+05]
 ...
 [1.00000000e+00 4.26710000e+01 2.33250000e+01 ... 4.60334774e+12
  1.08907873e+09 2.57658674e+05]
 [1.00000000e+00 4.26850000e+01 2.33560000e+01 ... 4.84430746e+12
  1.16533043e+09 2.80327997e+05]
 [1.00000000e+00 4.26850000e+01 2.33010000e+01 ... 4.63797183e+12
  1.09705189e+09 2.59493352e+05]]

In [13]:
model.fit(x_poly,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
y_poly_pred = model.predict(x_poly)
y_poly_pred

array([[62.46155144],
       [46.56550236],
       [45.96138716],
       ...,
       [48.99718813],
       [50.79557179],
       [49.19860163]])

In [15]:
rmse = np.sqrt(mean_squared_error(y,y_poly_pred))
print(rmse)
print(r2_score(y,y_poly_pred))

11.74194476926378
0.684581624503364

In [16]:
#plt.plot(x,y_poly_pred)