In [2]:
import pandas as pd
data = pd.read_excel("kiosk.xlsx", sheetname = 1)

In [3]:
data.head()

,KO ID,CSP Locatio,Terminal ID,Transaction Date & Time,Reference Number,Type of Transaction,From Account,To Account,Amount,Customer Charge
0,DYTXINVGDXXWQUZFKFNWUBK572414037E,SANJOO,20052802.0,28-08-2019 04:57:59 PM,1710764877362961,AEPS ONUS Withdrawal,XXXXXXQMAQA,XXXXXXMFETF,2000,0.0
1,VHONSNSYIIPJYCPGUKKGBKY795411271J,SHAUKAT MARKET,14017601.0,26-08-2019 10:57:46 AM,1516378236346888,AEPS OFFUS Withdrawal,XXXXXXCCOMP,XXXXXXMFETF,2500,0.0
2,FELSPGIAJBRGZTYJDDYNUGS938563554Y,BHOJPUR,21093301.0,27-08-2019 05:39:11 PM,1714283137325664,AEPS ONUS Withdrawal,XXXXXXPTMTC,XXXXXXMFETF,2530,0.0
3,SITVATJDWOLFBTKKYTIROCR859330456M,KONI,19771701.0,28-08-2019 03:58:21 PM,1707413971387797,AEPS ONUS Withdrawal,XXXXXXAFMMF,XXXXXXMFETF,8000,0.0
4,XDRYZQNKPMGKGRSQMUWGUIH454602787D,VIKASH KUMAR,12834401.0,26-08-2019 03:04:29 PM,1618475279799802,ATM FUNDSTRANSFER,XXXXXXCPGTA,XXXXXXCTCGO,20000,0.0

In [4]:
data["Transaction Date & Time"] = pd.to_datetime(data["Transaction Date & Time"], infer_datetime_format=True)

In [5]:
from datetime import datetime
d = datetime.now()
date, time = d.date(), d.time()
x=data["date"] = [d.date() for d in data["Transaction Date & Time"]]
z=data["time"] = [d.time() for d in data["Transaction Date & Time"]]

In [ ]:
x