In [77]:
import pandas as pd
data = pd.read_csv("DT.csv")
data

     company                  job     degree  salary_more_then_100k
0     google      sales executive  bachelors                      0
1     google      sales executive    masters                      0
2     google     business manager  bachelors                      1
3     google     business manager    masters                      1
4     google  computer programmer  bachelors                      0
5   facebook  computer programmer  bachelors                      1
6   facebook  computer programmer    masters                      1
7   facebook  computer programmer  bachelors                      1
8   facebook  computer programmer  bachelors                      1
9   facebook     business manager    masters                      1
10  facebook     business manager  bachelors                      0
11  facebook     business manager    masters                      1
12     Adobe  computer programmer  bachelors                      0
13     Adobe  computer programmer    masters                      1
14     Adobe     business manager  bachelors                      0
15     Adobe     business manager    masters                      1
16     Adobe     business manager  bachelors                      0

In [78]:
from sklearn.preprocessing import LabelEncoder

In [79]:
k = LabelEncoder()

In [80]:
data["company"] = k.fit_transform(data.company)
data["job"] = k.fit_transform(data.job)
data["degree"] = k.fit_transform(data.degree)

In [81]:
data

    company  job  degree  salary_more_then_100k
0         2    2       0                      0
1         2    2       1                      0
2         2    0       0                      1
3         2    0       1                      1
4         2    1       0                      0
5         1    1       0                      1
6         1    1       1                      1
7         1    1       0                      1
8         1    1       0                      1
9         1    0       1                      1
10        1    0       0                      0
11        1    0       1                      1
12        0    1       0                      0
13        0    1       1                      1
14        0    0       0                      0
15        0    0       1                      1
16        0    0       0                      0

In [82]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [83]:
from sklearn.model_selection import train_test_split

In [99]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20, random_state = 0)

In [100]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = "entropy")

In [101]:
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [102]:
pre =model.predict(x_test)

In [103]:
pre

array([1, 1, 1, 1], dtype=int64)

In [104]:
y_test

1    0
6    1
8    1
9    1
Name: salary_more_then_100k, dtype: int64

In [105]:
from sklearn.metrics import confusion_matrix 
results = confusion_matrix(y_test, pre) 
print ('Confusion Matrix :')
print(results)

Confusion Matrix :
[[0 1]
 [0 3]]

In [106]:
from sklearn import datasets, linear_model, metrics 
print("Logistic Regression model accuracy(in %):",  
metrics.accuracy_score(y_test, pre)*100)

Logistic Regression model accuracy(in %): 75.0

In [42]:
import pandas as pd
data = pd.read_csv("nv (2).csv")
data

     outlook  temp Humidity    Wind Plat Tennis
0      Sunny   hot     high    weak          no
1      Sunny   hot     high  strong          no
2   overcast   hot     high    weak         yes
3       Rain  mild     high    weak         yes
4       Rain  cool   normal    weak         yes
5       Rain  cool   normal  strong          no
6   overcast  cool   normal  strong         yes
7      Sunny  mild     high    weak          no
8      Sunny  cool   normal    weak         yes
9       Rain  mild   normal    weak         yes
10     Sunny  mild   normal  strong         yes
11  overcast  mild     high  strong         yes
12  overcast   hot   normal    weak         yes
13      Rain  mild     high  strong          no

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
 l = LabelEncoder()

In [45]:
data["outloook1"] = l.fit_transform(data["outlook"])
data["temp1"] = l.fit_transform(data["temp"])
data["humidity1"] = l.fit_transform(data["Humidity"])
data["wind1"] = l.fit_transform(data["Wind"])
data["play tennis"] = l.fit_transform(data["Plat Tennis"])

In [46]:
data

,outlook,temp,Humidity,Wind,Plat Tennis,outloook1,temp1,humidity1,wind1,play tennis
0,Sunny,hot,high,weak,no,1,1,0,1,0
1,Sunny,hot,high,strong,no,1,1,0,0,0
2,overcast,hot,high,weak,yes,2,1,0,1,1
3,Rain,mild,high,weak,yes,0,2,0,1,1
4,Rain,cool,normal,weak,yes,0,0,1,1,1
5,Rain,cool,normal,strong,no,0,0,1,0,0
6,overcast,cool,normal,strong,yes,2,0,1,0,1
7,Sunny,mild,high,weak,no,1,2,0,1,0
8,Sunny,cool,normal,weak,yes,1,0,1,1,1
9,Rain,mild,normal,weak,yes,0,2,1,1,1
10,Sunny,mild,normal,strong,yes,1,2,1,0,1
11,overcast,mild,high,strong,yes,2,2,0,0,1
12,overcast,hot,normal,weak,yes,2,1,1,1,1
13,Rain,mild,high,strong,no,0,2,0,0,0

In [47]:
x = data.iloc[:,5:9]
y = data.iloc[:,9]

In [48]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play tennis, dtype: int32

In [49]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [50]:
pre = model.predict(x)

In [51]:
pre

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [52]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play tennis, dtype: int32

In [53]:
from sklearn.metrics import confusion_matrix 
results = confusion_matrix(y,pre) 
print ('Confusion Matrix :')
print(results)

Confusion Matrix :
[[5 0]
 [0 9]]

In [54]:
from sklearn import datasets, linear_model, metrics 
print("Logistic Regression model accuracy(in %):",  
metrics.accuracy_score(pre,y)*100)

Logistic Regression model accuracy(in %): 100.0

In [110]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .20, random_state = 0)

In [111]:
from sklearn import tree
model = tree.DecisionTreeClassifier(criterion = "gini")
model.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [114]:
x_train.shape

(13, 3)

In [112]:
pre = model.predict(x_test)
pre

array([1, 1, 1, 1], dtype=int64)

In [113]:
y_test

1    0
6    1
8    1
9    1
Name: salary_more_then_100k, dtype: int64

In [59]:
from sklearn import datasets, linear_model, metrics 
print("Logistic Regression model accuracy(in %):",  
metrics.accuracy_score(pre,y_test)*100)

Logistic Regression model accuracy(in %): 40.0

In [60]:
from sklearn.metrics import confusion_matrix 
results = confusion_matrix(y_test, pre) 
print ('Confusion Matrix :')
print(results)

Confusion Matrix :
[[1 0]
 [3 1]]