In [1]:
import pandas as pd

df = pd.read_csv("ARM2.csv")
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [2]:
df.shape

(5, 11)

In [3]:
pip install apyori

Requirement already satisfied: apyori in c:\anaconda\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from apyori import apriori

In [5]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\anaconda\lib\site-packages (0.17.0)
Requirement already satisfied: joblib>=0.13.2 in c:\anaconda\lib\site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: setuptools in c:\anaconda\lib\site-packages (from mlxtend) (41.0.1)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\anaconda\lib\site-packages (from mlxtend) (0.21.2)
Requirement already satisfied: pandas>=0.24.2 in c:\anaconda\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: scipy>=1.2.1 in c:\anaconda\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: numpy>=1.16.2 in c:\anaconda\lib\site-packages (from mlxtend) (1.16.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\anaconda\lib\site-packages (from mlxtend) (3.1.0)
Requirement already satisfied: pytz>=2011k in c:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.0)
Requirement already satisfied: cycler>=0.10 in c:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.0)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.24.2->mlxtend) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import mlxtend

In [7]:
from mlxtend.frequent_patterns import apriori

In [8]:
from mlxtend.frequent_patterns import association_rules

In [10]:
apriori(df, min_support=0.6)

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [12]:
apriori(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

In [13]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Eggs, Kidney Beans)       2
6       0.6                (Eggs, Onion)       2
7       0.6         (Milk, Kidney Beans)       2
8       0.6        (Onion, Kidney Beans)       2
9       0.6       (Yogurt, Kidney Beans)       2
10      0.6  (Eggs, Onion, Kidney Beans)       3

In [14]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.8) ]

   support              itemsets  length
5      0.8  (Eggs, Kidney Beans)       2

In [16]:
frequent_itemsets = apriori(df, min_support=0.07, use_colnames=True)
association_rules1=association_rules(frequent_itemsets,metric="lift",min_threshold=1)

In [17]:
association_rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
1,(Eggs),(Apple),0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
2,(Apple),(Kidney Beans),0.2,1.0,0.2,1.000000,1.000000,0.00,inf
3,(Kidney Beans),(Apple),1.0,0.2,0.2,0.200000,1.000000,0.00,1.000000
4,(Milk),(Apple),0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
5,(Apple),(Milk),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
6,(Ice cream),(Corn),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
7,(Corn),(Ice cream),0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
8,(Corn),(Kidney Beans),0.4,1.0,0.4,1.000000,1.000000,0.00,inf
9,(Kidney Beans),(Corn),1.0,0.4,0.4,0.400000,1.000000,0.00,1.000000
10,(Corn),(Unicorn),0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
11,(Unicorn),(Corn),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
12,(Dill),(Eggs),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
13,(Eggs),(Dill),0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
14,(Dill),(Kidney Beans),0.2,1.0,0.2,1.000000,1.000000,0.00,inf
15,(Kidney Beans),(Dill),1.0,0.2,0.2,0.200000,1.000000,0.00,1.000000
16,(Nutmeg),(Dill),0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
17,(Dill),(Nutmeg),0.2,0.4,0.2,1.000000,2.500000,0.12,inf
18,(Dill),(Onion),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
19,(Onion),(Dill),0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
20,(Dill),(Yogurt),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
21,(Yogurt),(Dill),0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
22,(Ice cream),(Eggs),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
23,(Eggs),(Ice cream),0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
24,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.000000,1.000000,0.00,inf
25,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.800000,1.000000,0.00,1.000000
26,(Nutmeg),(Eggs),0.4,0.8,0.4,1.000000,1.250000,0.08,inf
27,(Eggs),(Nutmeg),0.8,0.4,0.4,0.500000,1.250000,0.08,1.200000
28,(Eggs),(Onion),0.8,0.6,0.6,0.750000,1.250000,0.12,1.600000
29,(Onion),(Eggs),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
...,...,...,...,...,...,...,...,...,...
1216,"(Onion, Yogurt, Kidney Beans)","(Nutmeg, Milk, Eggs)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1217,"(Nutmeg, Milk, Eggs)","(Onion, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1218,"(Nutmeg, Milk, Yogurt)","(Eggs, Onion, Kidney Beans)",0.2,0.6,0.2,1.000000,1.666667,0.08,inf
1219,"(Nutmeg, Milk, Onion)","(Eggs, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1220,"(Nutmeg, Eggs, Yogurt)","(Milk, Onion, Kidney Beans)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1221,"(Nutmeg, Eggs, Onion)","(Milk, Yogurt, Kidney Beans)",0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
1222,"(Nutmeg, Onion, Yogurt)","(Milk, Eggs, Kidney Beans)",0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
1223,"(Milk, Eggs, Yogurt)","(Nutmeg, Onion, Kidney Beans)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1224,"(Milk, Eggs, Onion)","(Nutmeg, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1225,"(Milk, Onion, Yogurt)","(Nutmeg, Eggs, Kidney Beans)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1226,"(Eggs, Onion, Yogurt)","(Nutmeg, Milk, Kidney Beans)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1227,"(Nutmeg, Kidney Beans)","(Milk, Eggs, Onion, Yogurt)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1228,"(Eggs, Kidney Beans)","(Nutmeg, Milk, Onion, Yogurt)",0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
1229,"(Yogurt, Kidney Beans)","(Nutmeg, Milk, Eggs, Onion)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
1230,"(Onion, Kidney Beans)","(Nutmeg, Milk, Eggs, Yogurt)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
1231,"(Nutmeg, Milk)","(Eggs, Onion, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1232,"(Nutmeg, Eggs)","(Milk, Onion, Yogurt, Kidney Beans)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1233,"(Nutmeg, Yogurt)","(Milk, Eggs, Onion, Kidney Beans)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1234,"(Nutmeg, Onion)","(Milk, Eggs, Yogurt, Kidney Beans)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1235,"(Milk, Eggs)","(Nutmeg, Onion, Yogurt, Kidney Beans)",0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
1236,"(Milk, Yogurt)","(Nutmeg, Eggs, Onion, Kidney Beans)",0.4,0.4,0.2,0.500000,1.250000,0.04,1.200000
1237,"(Milk, Onion)","(Nutmeg, Eggs, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.000000,2.500000,0.12,inf
1238,"(Eggs, Yogurt)","(Nutmeg, Milk, Onion, Kidney Beans)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1239,"(Eggs, Onion)","(Nutmeg, Milk, Yogurt, Kidney Beans)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
1240,"(Onion, Yogurt)","(Nutmeg, Milk, Eggs, Kidney Beans)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1241,(Kidney Beans),"(Nutmeg, Milk, Eggs, Yogurt, Onion)",1.0,0.2,0.2,0.200000,1.000000,0.00,1.000000
1242,(Nutmeg),"(Kidney Beans, Milk, Eggs, Yogurt, Onion)",0.4,0.2,0.2,0.500000,2.500000,0.12,1.600000
1243,(Eggs),"(Kidney Beans, Nutmeg, Milk, Yogurt, Onion)",0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
1244,(Yogurt),"(Kidney Beans, Nutmeg, Milk, Eggs, Onion)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000
1245,(Onion),"(Kidney Beans, Nutmeg, Milk, Eggs, Yogurt)",0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000