In [1]:
import pandas as pd
df = pd.read_csv("areas.csv")

In [2]:
df

    area
0   1000
1   1500
2   2300
3   3540
4   4120
5   4560
6   5490
7   3460
8   4750
9   2300
10  9000
11  8600
12  7100